@model Lab13.Models.Persona
@{
    ViewBag.Title = "Buscador";
}

<h2>Buscador</h2>

@using (Html.BeginForm("Filter", "Persona", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
<div>
    <div class="row">
        <div class="mb-3 col-md-12">
            @Html.TextBoxFor(model => model.Nombre,
            new { @class = "form-control", placeholder = "Ingrese nombre" })
            @Html.ValidationMessageFor( model => model.Nombre,null, new { 
               @class = "text-danger"
            })
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-md-5">
            @Html.TextBoxFor(model => model.Apellido,
           new { @class = "form-control", placeholder = "Ingrese apellido" })
            @Html.ValidationMessageFor(model => model.Apellido, null, new
            {
               @class = "text-danger"
            })
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-info">
                Buscar
            </button>
        </div>
    </div>
</div>

    
}


