@model Lab14.Models.Product
@{
    ViewBag.Title = "Details";
}

<h2>Detalles de producto</h2>

<div>
    <div>
        @Html.DisplayFor(model => model.ProductName)
    </div>
    <br />
    <div>
        @Html.DisplayFor(model => model.Category)
    </div>
    <br />
    <div>
        @Html.DisplayFor(model => model.UnitPrice)
    </div>
    <br />
    <div>
        @Html.DisplayFor(model => model.UnitsInStock)
    </div>
    <br />
    <div>
        @Html.DisplayFor(model => model.UnitsOnOrder)
    </div>
    <br />
    <div>
        @Html.DisplayFor(model => model.ReorderLevel)
    </div>
    <br />
    <div>
        @Html.DisplayFor(model => model.QuantityPerUnit)
    </div>
</div>
<div>
    @Html.ActionLink("Regresar a lista de categorias","Index","Categories")
</div>
